{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>포스트</h1>
        {% for post in object_list %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.contents }}</p>
                <a href="#" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}